<footer class="p-2 d-flex justify-content-between" style="font-weight: bold ;width: 100%;bottom: 0; position: fixed; background-color: rgba(78, 65, 65, 0.466);">
    
    <p class="my-auto mx-2">San Ladislao</p><p class="my-auto mx-4">All rights reserved &copy</p>
    </footer>